* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  width: 100%;

  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-size: 12px;

  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;

  width: 30vw;
  height: 70vh;

  border: 3px solid black;
  border-radius: 8px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.display {
  flex: 1;

  background-color: #FFFEF7;
  border-bottom: 2px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #567374;
}

.interface {
  flex: 4;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  background-color: #F9EBDF;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.history {
  position: absolute;
  margin-top: 12px;
  margin-left: 24px;
}

.output {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
  width: 100%;

  font-size: 36px;
  font-weight: bold;

  padding-right: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: hsl(0, 0%, 76%);
  border: 2px solid #FFFEF7;
  border-radius: 25%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;

  margin: 12px;
  padding: 4px;
}

.function {
  background-color: hsl(0, 0%, 54%);
}

.switch {
  background-color: #FFFEF7;
  border: 2px solid hsl(0, 0%, 76%);
  border-radius: 25%;
  color: hsl(0, 0%, 54%);
}

.num {
  color: black;
  font-size: 24px;
}

.button:hover {
  cursor: pointer;
}